<h2><%= @user.name %></h2>

<%= link_to 'New route', {controller: 'routes', action: 'create'}, method: :post %>

<% @routes.each do |r| %>
  <p><b> Route <%= r.id %></b></p>
  <p> Points: <%= r.locations.count %></p>
  <br>
<% end %>