<h2>Route <%= @route.id %></h2>

<%= link_to 'New location', locations_url(route_id: @route.id), method: :post %>
<%= link_to 'View user', current_user %>

<div id='map' style="height: 300px; width: 500px;"></div>


<%= map(:center => {
  :latlng => [@center_lat, @center_lon],
  :zoom => 10, 
  },
  :polylines => [
    {
      :latlngs => @latlngs
    }
  ]
) %>